.nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: rem(50px);
    padding: 10px;
    z-index: 999;
    transition-timing-function: ease-in;
    transition: all 0.5s;


        .nav-content {
            display: flex;
            justify-content: space-between;

            .logo {
                position: fixed;
                left: 0;
                width: rem(80px);
                object-fit: contain;
                padding-inline-start: rem(20px);
                cursor: pointer;
            }
            .avatar {
                position: fixed;
                right: rem(20px);
                width: rem(30px);
                cursor: pointer;
            }
        }
    }
