.mobile-nav-top {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 5vw;
    padding-block: 3.2vh;
    color: rgb(207, 207, 207);
    height: 100px;
    transition: 500ms ease;

    &.show {
        backdrop-filter: blur(20px);
        background-color: rgba(182, 182, 182, 0.173);
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.198);
        height: 60px;
    }

    button {
        background-color: transparent;
        border: none;
        color: white;
        font-size: rem(20px);
    }

    h5 {
        font-family: netflix-med;
        font-size: rem(18px);
    }
}
