.my-list-container {
    padding: 14vh 3vw;

    .list-title {
        padding-inline-start: rem(28px);
        font-size: 2vw;
        font-family: netflix;
        color: white;
    }
    .return-btn {
        color: white;
    }
}
