.user-auth-modal {
    display: flex;
    justify-content: left;
    text-align: left;
    align-items: center;
    padding: rem(15px) rem(20px);
    margin-block-end: rem(20px);
    background-color: #e87d03;
    border-radius: rem(6px);
}
