.backdrop {
    position: fixed;
    z-index: 998;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.667);
}

.profile-details-container {
    position: fixed;
    z-index: 999;
    bottom: 0;
    width: 100%;
    background-color: rgb(70, 68, 68);
    height: 85vh;
    border-top-left-radius: rem(15px);
    border-top-right-radius: rem(15px);
    transition: 0.5s;
    transform: translateY(200%);
    color: white;

    &.show {
        transform: translateY(0);
        transform-origin: bottom;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-inline: rem(18px);
        padding-block: rem(12px);
    }
}

.mobile-profile {
    position: relative;
    display: flex;
    flex-direction: column;
    color: white;
    overflow-y: hidden;
    transition: 0.5s;

    .user-container {
        margin-block-start: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        &:first-child {
            font-size: rem(60px);
        }
        .user-details {
            display: flex;
            gap: rem(5px);
            font-family: netflix-bold;
            font-size: rem(22px);
        }
    }
    .mobile-row-container {
        margin-block-start: rem(50px);
    }
}
